[run]
source = q2_fondue
branch = True
omit =
    */tests*
    */__init__.py
    q2_fondue/_version.py
    versioneer.py

[report]
fail_under = 90
omit =
    */tests*
    */__init__.py
    q2_fondue/_version.py
    versioneer.py
