name: Test and build

on:
  pull_request:
    branches:
      - main
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: install dependencies
      run: python -m pip install --upgrade pip

    - name: lint
      run: |
        pip install -q flake8
        flake8

  coverage:
    needs: lint
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: fondue-test-env
        mamba-version: "*"
        channels: conda-forge
    - name: Run tests with coverage
      run: |
        mamba install -c https://packages.qiime2.org/qiime2/2022.4/tested -c conda-forge -c bioconda -c defaults -y --file requirements.txt
        make dev
        qiime dev refresh-cache
        make test-cov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true

  build-and-test:
    needs: coverage
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        # necessary for versioneer
        fetch-depth: 0

    - uses: qiime2/action-library-packaging@alpha1
      with:
        package-name: q2-assembly
        additional-tests: pytest --pyargs q2_assembly
        build-target: dev
        library-token: ${{ secrets.LIBRARY_TOKEN }}
