name: Test and build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: install dependencies
      run: python -m pip install --upgrade pip

    - name: lint
      run: |
        pip install -q https://github.com/qiime2/q2lint/archive/master.zip
        q2lint
        pip install -q flake8
        flake8

  build-and-test:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        # necessary for versioneer
        fetch-depth: 0

    # TODO: update this to @v1 when it lands
    - uses: qiime2/action-library-packaging@alpha2
      with:
        package-name: q2-fondue
        additional-tests: pytest --pyargs q2_fondue
        # TODO: update this to `release` when tagging release
        build-target: dev
        library-token: ${{ secrets.LIBRARY_TOKEN }}
